.framed-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.framed {
    width: 45%;  /* Adjust the width to fit two images side by side with some margin */
    height: 200px; /* Set a fixed height for consistency */
    border: 5px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
  
  


.interest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
.interest-item {
    flex: 0 1 calc(25% - 10px);
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
  
.interest-item:hover {
    background-color: #e0f7fa;
}
  


.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}





